.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    width: 40px;
    height: 40px;
    background-color: #E1E1E1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin-left: 10px;
}

.pagination-item.active {
    background-color: #407BFF;
}

.pagination-link-active {
    background-color: #407BFF;
}

.arrow-previous {
    color: #407BFF;
    transform: rotate(-180deg);     
}

.arrow-next {
    color: #407BFF;
    margin: 10px;    
}